bcrypt==3.2.0   
crypto==1.4.1
cryptography==3.3.1    
cycler==0.10.0
dnspython==2.1.0       
email-validator==1.1.2
esdk-obs-python==3.19.11
Flask==1.1.2
Flask-Login==0.5.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.4
MarkupSafe==1.1.1
matplotlib==3.3.2
Naked==0.1.31
numpy==1.19.2
Padding==0.5
pandas==0.25.3
Pillow==8.0.0


