.form-container {
    /* width: 700px; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: auto;
    display: flex;
    background: linear-gradient(90deg, rgb(10, 28, 68) 0%, #010418 100%);
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}
.form {
    /* height: 100%;  Too height*/ 
    justify-content: center;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

.input{
    height:25%;
}
.button {
    width: 300px;
    height: 50px;
    margin-top: 15px;
    border-radius: 2px;
    background: linear-gradient(
        90deg,
        rgb(12, 140, 214) 0%,
        rgb(5, 141, 143) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    max-width: 100%;
}
.form h1 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
}
.form label{
    color: #fff;
}

.form h6 {
    color: #1DA1F2;
}

.form h2 {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
}
.form-check-label {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 6px;
    color: black;
}
.form-control {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
}