<div class="container-fluid">
    <div class="row justify-content-center">
        
        <h1 class="display-4">Welcome to the feedback portal</h1>
    </div>
    <div class="row justify-content-center">
        <img src="{{url_for('static',filename='img/banner.jpg') }}" class="img-fluid" alt="Responsive image" height="230px" width="100%">
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <!-- Card to explain for students -->
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                   <h2 class="display-4">For Students</h2>
                </div>
                <div class="card-body">
                  <h4 class="card-text">Earn class rewards for participation</h4>
                  <p id="emoji">&#128512;</p>
                </div>
                <a href="{{ url_for('auth_bp.newstudent') }}" class="nounderline">
                    <button class="button btn-block" type="submit" name="submitButton" value="student">Student</button>
                </a>
              </div>
        </div>

        <!-- Card to explain for professor -->
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                   <h2 class="display-4">For Educators</h2>
                </div>
                <div class="card-body">
                  <h4 class="card-text">Make your class more fun and engaging</h4>
                  <p id="emoji">&#128116;</p>
                </div>
                <a href="{{ url_for('auth_bp.login') }}" class="nounderline">
                    <button class="button btn-block" type="submit" name="submitButton" value="instructor">Instructor</button>
                </a>
              </div>
        </div>
    </div>
</div>