{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Content for professor page -->
<div class="container mx-auto border col-md-6">

    <!-- Submit class code and a category -->
    <form class="justify-content-md-center" action="/analytics/check" method="get">
        <!-- Class code -->
        <div class="form-group ">
            <label for="ccode">Class Code</label>
            <input type="text" class="form-control " id="ccode" name="classCode" aria-describedby="codeHint"
                placeholder="enter your class code">
            <small id="codeHint" class="form-text text-muted">Your class code has the format ex:AB2012</small>
        </div>

        <!-- Pick a category -->
        <div class="form-group">
            <label for="category">Category</label>
                <select name="category" id="category" class="form-control">
                  <option>Select</option>
                  <option>Instructor</option>
                  <option>Teaching-style</option>
                  <option>Topic</option>
                  <option>Other</option>
                </select>
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary btn-block">See results</button>
            </div>
        </div>
        
    </div>
    </form>
</div>
{% endblock %}
