<style>
    .nounderline {
        text-decoration: none !important;
        color: white
    }
    .nounderline:hover {
        color: white
    }
</style>
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

{% with messages = get_flashed_messages()%}
{% if messages %}

<p>{{msg}}</p>

{%endif%}
{% endwith %}

<!-- Typical approach to create any form with bootstrap  -->
<div class="container col- mx-auto">
    <h3>Edit class</h3>
    <!-- When submit button is clicked then the action should bring to previous page -->
    <form action="/professor/edit/{{entryId}}" method="post">
        <!-- Split form into two columns -->
        <div class="row">
            <!-- Left side -->
            <div class="col">
                <!-- Unite label and the field into a group -->
                <div class="form-group">
                    <label class="form-check-label" for="schoolName">
                        School:
                    </label>
                    <input type="text" class="form-control" id="text" value={{schoolName}}
                        name="schoolName" required>
                </div>

                <!-- Department name field -->
                <div class="form-group">
                    <label class="form-check-label" for="departmentName">
                        Department:
                    </label>
                    <input type="text" class="form-control" id="text" value={{departmentName}}
                        name="departmentName">
                </div>

                <!-- Type -->
                <div class="form-group">
                    <label class="form-check-label" for="classMode">
                        Mode:
                    </label>
                    <select name="mode" class="form-control" for="classMode">
                        <option selected disabled value="">Choose class mode</option>
                        {% if classMode == "Remote" %}
                        <option selected>Remote</option>
                        <option>In-person</option>
                        <option>Hybrid</option>
                        {% elif classMode == "In-person"%}
                        <option>Remote</option>
                        <option selected >In-person</option>
                        <option>Hybrid</option>
                        {% else %}
                        <option>Remote</option>
                        <option>In-person</option>
                        <option selected >Hybrid</option>
                        {% endif%}
                    </select>
                </div>
            </div>

            <!-- Center class/section/mode -->
            <div class="col">
                <!-- Class ID field -->
                <div class="form-group">
                    <label class="form-check-label" for="className">
                        Class Name:
                    </label>
                    <input type="text" class="form-control" id="text" value="{{className}}" name="className"
                        required>
                </div>

                <!-- Section name field -->
                <div class="form-group">
                    <label class="form-check-label" for="sectionName">
                        Section:
                    </label>
                    <input type="text" class="form-control" id="text" value={{sectionName}}
                        name="sectionName" maxlength="4" required>
                </div>

                <!-- Class size -->
                <div class="form-group">
                    <label class="form-check-label" for="size">
                        Class size:
                    </label>
                    <input type="number" class="form-control" min="0" max="26" value={{size}} name="size" required>
                    <span class="validity"></span>
                </div>
            </div>

            <!-- Right column -->
            <div class="col">
                <!-- Start time -->
                <div class="form-group">
                    <label class="form-check-label" for="start">
                        Start time:
                    </label>
                    <input type="time" id="start" class="form-control" min="07:00" max="19:00" name="start" required>
                    <span class="validity"></span>
                </div>

                <!-- End time -->
                <div class="form-group">
                    <label class="form-check-label" for="end">
                        End time:
                    </label>
                    <input type="time" id="end" class="form-control" min="07:00" max="19:00" name="end" required>
                    <span class="validity"></span>
                </div>
            </div>

        </div>
        <!-- Days picker -->
        <label class="form-check-label">
            Days:
        </label>
        <div class="row justify-content-center">
            <!-- Days -->
            <div class="form-group">
                
                <div class="row justify-content-center">
                    <!-- Monday -->
                    <div class="col-" id="face_row">
                        <input name="days" class="form-check-input" type="checkbox" value="M" id="1">
                        <label class="form-check-label" for="1">
                            MO
                        </label>
                    </div>
                    <!-- Tuesday -->
                    <div class="col-" id="face_row">
                        <input name="days" class="form-check-input" type="checkbox" value="T" id="2">
                        <label class="form-check-label" for="2">
                            TU
                        </label>
                    </div>
                    <!-- Wed -->
                    <div class="col-" id="face_row" id="face_row">
                        <input name="days" class="form-check-input" type="checkbox" value="W" id="3">
                        <label class="form-check-label" for="3">
                            WE
                        </label>
                    </div>
                    <!-- Thursday -->
                    <div class="col-" id="face_row" id="face_row">
                        <input name="days" class="form-check-input" type="checkbox" value="H" id="4">
                        <label class="form-check-label" for="4">
                            TH
                        </label>
                    </div>
                    <!-- Friday -->
                    <div class="col-" id="face_row" id="face_row">
                        <input name="days" class="form-check-input" type="checkbox" value="F" id="5">
                        <label class="form-check-label" for="5">
                            FR
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <label class="form-check-label" for="5">
            Enter category labels:
        </label>
        <div id="dynamic_field">
            <div class="row justify-content-center">
                          <td><input type="text" id="emojikeyboard" name="categories" placeholder="Enter a category name" class="form-control name_list" required/>
                          <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>  
            </div>
        </div>
        
        <!-- Submit button -->
        <div class="row justify-content-center">
            <div class="table-responsive">  
                <table class="table table-bordered" name="dynamic_field" id="dynamic_field">  
                     <tr>  
                          <td><input type="text" name="categories" placeholder="Enter a category name" class="form-control name_list" required/>
                          <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>  
                     </tr>  
                </table> 
           </div>
        </div>

        <div class="form-group">
            <button class="button btn-block" type="submit" name="submitButton" value="dashboardSubmit">Update Class</button>
            <a href="{{url_for('professor_bp.instructor')}}" class="nounderline">
                <button class="button btn-block">Back To Class Dashboard</a>
            </a>
        </div>
    </form>
</div>

<script>
    document.getElementById("start").value= "{{ start }}"
    document.getElementById('end').value = "{{ end }}"
    console.log("{{className}}")
    var nodeList = document.getElementsByName("days");
    if ("{{days}}".includes(nodeList[0].value) == true) {
        nodeList[0].checked = true;
    } 
    if ("{{days}}".includes(nodeList[1].value) == true) {
        nodeList[1].checked = true;
    }
    if ("{{days}}".includes(nodeList[2].value) == true) {
        nodeList[2].checked = true;
    }
    if ("{{days}}".includes(nodeList[3].value) == true) {
        nodeList[3].checked = true;
    } 
    if ("{{days}}".includes(nodeList[4].value) == true) {
        nodeList[4].checked = true;
    }
    function addField( $wrapper ) {
        var $elem = $('.dynamoc_field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input');
        $elem.val('').focus();
        return $elem;
    }
    function loadData(){
        data = {{ data|tojson }};
        for( var i = 0; i < data.length; i++ ) {
            if ( i > $('.dynamic_field input').length ) {
                $('#dynamic_field').append('<div id="div'+i+'" class="row justify-content-center"><tr id="row'+i+'"><td><input id="emojikeyboard'+i+'" type="text" name="categories" placeholder="Enter a category name" class="form-control name_list" required/></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr></div>');
                document.getElementsByName('categories')[i].value=data[i];
            } else {
                document.getElementsByName('categories')[i].value=data[i];
            }
        }
    }
    $(document).ready(function(){  
        $("#emojikeyboard").emojioneArea({spellcheck     : false,
                                        autocomplete   : false,
                                        autocorrect    : false,
                                        autocapitalize : false,});

         var i=1;  
         $('#add').click(function(){  
              i++;  
              $('#dynamic_field').append('<div id="div'+i+'" class="row justify-content-center"><tr id="row'+i+'"><td><input id="emojikeyboard'+i+'" type="text" name="categories" placeholder="Enter a category name" class="form-control name_list" required/></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr></div>');  
              $('#emojikeyboard'+i+'').emojioneArea({spellcheck     : false,
                                                    autocomplete   : false,
                                                    autocorrect    : false,
                                                    autocapitalize : false,});
            });

        $(document).on('click', '.btn_remove', function(){  
            var button_id = $(this).attr("id");   
            $('#row'+button_id+'').remove();  
        });
        $('#submitButton').click(function(e){            
        $.ajax({  
                url:"/professor", 
                data:$("#dynamic_field").serialize()
        });  
        });   
    });
    loadData();
</script>
{% endblock %}