<div class="container" id="feedback-form">
    <!-- Incentive part -->
    <div class="row justify-content-center">
        {% if you  %}
        <!-- Card for total individuals vote -->
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    Students participated
                </div>
                <div class="card-body">
                  <h2 class="card-text">{{ notYou }} / {{ size}}</h2>
                </div>
              </div>
        </div>

         <!-- Card for you voted -->
         <div class="col">
            <div class="card text-center">
                <div class="card-body">
                  You submitted
                </div>
                <div class="card-body">
                  <h2 class="card-text">{{ voted }}</h2>
                </div>
              </div>
        </div>

        <!-- Other's feedbacks -->
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                  Total
                </div>
                <div class="card-body">
                  <h2 class="card-text">{{ total + voted }}</h2>
                </div>
              </div>
        </div>
    </div>
    <!-- On login only -->
    


    <div class="row justify-content-center">
        <h4>Class reward progress:</h4>
    </div>
    
    <div class="row justify-content-center">
        <div class="col">
            <div class="progress">
                <div class="progress-bar" style="width:{{ ((notYou + you) / size|int) * 100 }}%;" role="progressbar" aria-valuenow="{{ you }}" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <h4>Your reward progress:</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="progress">
                <div class="progress-bar" style="width:{{ ((you) / size|int) * 100 }}%;" role="progressbar" aria-valuenow="{{ you }}" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    {% endif %}
    <form action="{{ url_for('student_bp.student')}}" method="post">
        <!-- Mood section -->
        <div class="row justify-content-center">
            <h1>Feel:</h1>
        </div>
        <div class="row justify-content-center" id="face_row">

            <!-- Excited -->
            <div class="col- feedmoji">
                <div class="form-check justify-content-center">
                    <input class="form-check-input" type="radio" name="emoji" id="excited" value="5" required checked>
                    <label class="form-check-label" for="excited" title="Choose your mood. Is that what you think?"
                        style="cursor: pointer;">
                        excited
                        <p id="emoji">&#128512;</p>
                    </label>
                </div>
            </div>
            <div class="col- feedmoji">
                <!-- Understand -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emoji" id="normal" value="4" required>
                    <label class="form-check-label" for="normal" title="Choose your mood. Is that what you think?"
                        style="cursor: pointer;">
                        understand
                        <p id="emoji">&#128578;</p>
                    </label>
                </div>
            </div>
            <div class="col- feedmoji">
                <!-- Neutral -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emoji" id="unclear" value="3" required>
                    <label class="form-check-label" for="unclear" title="Choose your mood. Is that what you think?"
                        style="cursor: pointer;">
                        neutral
                        <p id="emoji">&#128528;</p>
                    </label>
                </div>
            </div>
            <div class="col- feedmoji">
                <!-- tider/bored -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emoji" id="nervous" value="2" required>
                    <label class="form-check-label" for="nervous" title="Choose your mood. Is that what you think?"
                        style="cursor: pointer;">
                        tired/bored
                        <p id="emoji">&#128564;</p>
                    </label>
                </div>
            </div>
            <div class="col- feedmoji">
                <!-- anxious/overwhelmed/confused -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emoji" id="mad" value="1" required>
                    <label class="form-check-label" for="mad" title="Choose your mood. Is that what you think?"
                        style="cursor: pointer;">
                        anxious/confused
                        <p id="emoji">&#128548;</p>
                    </label>
                </div>
            </div>
        </div>
        <!-- About -->
        <div class="row justify-content-center">
            <h1>About:</h1>
        </div>
        <div class="row justify-content-center">
        {% for row in categories %}
        
            {% if categories.index(row) == 0 %}
            <div class="col- feedmoji">
                <!-- Category -->
                <div class="form-check">
                    <input class="form-check-input block" name="elaborateNumber" id={{row.category}} type="radio" value={{row.number}}
                        required checked>
                    <label id="emoji" class="form-check-label" for={{row.category}} style="cursor: pointer;">
                        {{ row.category}}
                        
                    </label>
                </div>
            </div>
            {% else %}
            <div class="col- feedmoji">
                <!-- Category -->
                <div class="form-check">
                    <input class="form-check-input block" name="elaborateNumber" id={{row.category}} type="radio" value={{row.number}}
                        required>
                    <label id="emoji" class="form-check-label" for={{row.category}} style="cursor: pointer;">
                        {{ row.category}}
                        
                    </label>
                </div>
            </div>
            {% endif %}
       
        {% endfor%}
    </div>


</script>

        <!-- Input field -->
        <div class="row justify-content-center">
            <!-- Finger emoji -->
            <div class="col-sm btn-block">
                <textarea class="card form-control" maxlength="140" rows="4" type="text" placeholder="Elaborate your thoughts" name="elaborateText"
                    class="form-control" id="emojifield" autofocus></textarea>
            </div>
        </div>

</div>
<div class="row justify-content-center">
    <div class="col-sm-3">
        <!-- Submit button -->
        <div class="form-group">
            <div>
                <button type="submit" class="button btn btn-primary btn-block" id="feedback_button">Leave
                    feedback</button>
            </div>
        </div>
    </div>
</div>

</form>

</div>
