{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

{% with messages = get_flashed_messages()%}
{% if messages %}

<p>{{msg}}</p>

{%endif%}
{% endwith %}

<!-- Typical approach to create any form with bootstrap  -->
<div class="container col- mx-auto">
    <h3>Add Professor</h3>
    <!-- When submit button is clicked then the action should bring to previous page -->
    <form action="{{ url_for('admin_bp.createprofessor')}}" method="post">
        <!-- Split form into two columns -->
        <div class="row">
            
            <!-- Left side -->
            <div class="col">
                <!-- Unite label and the field into a group -->
                
                <div class="form-group">
                    <label class="form-check-label" for="username">
                        Username:
                    </label>
                    <input type="text" class="form-control" id="text" placeholder="create username"
                        name="username" required>
                </div>

                <div class="form-group">
                    <label class="form-check-label" for="professor">
                        Professor:
                    </label>
                    <input type="text" class="form-control" id="text" placeholder="for professor"
                        name="professor" required>
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <button class="button btn-block" type="submit" name="submitButton" id="submitButton" value="dashboardSubmit">create</button>
        </div>
    </form>
</div>

{% endblock %}