<style>
    tr.row_selected td {
        background-color: #bdbdbd !important;
    }
</style>
<div class="container col- mx-auto">
    <div lass="row">
        <p class="display-4">Create class</p>
        <div class="container col-">
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
           
            <div class="btn-group mr-2">
                <!-- Put create class button -->
                <a href="{{ url_for('admin_bp.createprofessor')}}"><button class="btn btn-info btn-lg">Create
                        professor</button></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn-group mr-2">
            Drag and Drop a .csv file with the schedule
             <!-- Bulk add -->
             <form action="/admin/bulkadd" method="post" enctype="multipart/form-data">
                <input class="custom-file-upload" type="file" name="fileupload" id="fileToUpload">
                <input type="submit" value="Upload File" name="submit">
            </form>
        </div>
    </div>
    <div>
        <!-- Put Chart -->
        <div>

            <div class="row">
              
            </div>
            <!-- Put table -->
            <div>
                <!-- Put table -->
                <div class="display">
                    <table id="classTable" class="display" cellspacing="0" width="100%">
                        <thead class="thead-dark lead">
                            <!-- Table top rows -->
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Class code</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for row in data %}
                            <tr class="table-row-hover" onclick="get_class_data(this);" onmouseover=""
                                style="cursor: pointer;">
                                <td scope="row">{{ row.username }}</td>
                                <!-- Get class code into the form  -->
                                <!-- The input cannot be disables -->
                                <td>{{row.classCode}}<input type="hidden" id="classCode" name="ccode"
                                        value={{row.classCode}}></td>

                                <td>
                                    <table style="border: none;">
                                        <td style="border: none;">
                                            <div>
                                                <a href="/admin/edit/{{row.entryId}}"
                                                    class="btn btn-outline-success">Edit</a>
                                            </div>
                                        </td>

                                        <td style="border: none;">
                                            <button class="btn btn-outline-danger" id="delete" data-toggle="modal"
                                                classCode="{{row.classCode}}" data-id="{{row.entryId}}"
                                                data-target="#exampleModal">Delete</button>
                                        </td>


                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Professor
                                                            {{row.username}}</h5>

                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this class?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-danger"
                                                            href="/admin/delete/{{row.entryId}}/{{row.classCode}}">Delete</a>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </table>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 id="title" class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this class?
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" id="deleteClass"
                                                href="/professor/delete/{{row.entryId}}/{{row.classCode}}">Delete</a>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <script>
        $('#classTable').dataTable({
            "lengthMenu": [5, 10, 15, 20, 25]
        });

        $("#classTable tbody tr").on('click', function (event) {
            $("#classTable tbody tr").removeClass('row_selected');
            $(this).addClass('row_selected');
        });
    </script>

    <script>
        // ON SELECTING ROW 
        $(document).on('click', '#delete', function () {
            //FINDING ELEMENTS OF ROWS AND STORING THEM IN VARIABLES 
            var id = $(this).attr("data-id");
            var classCode = $(this).attr("classCode");

            var p = "";
            p += "<p>Delete class " + classCode + " </p>";
            //CLEARING THE PREFILLED DATA 
            $("#title").empty();
            //WRITING THE DATA ON MODEL 
            $("#title").append(p);
            document.getElementById("deleteClass").href = "/professor/delete/" + id + "/" + classCode;
        });
    </script>