<!-- Include this partial in every template where messages should appear -->
<!-- Success message -->
{% with messages = get_flashed_messages(category_filter=['success']) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>

</div>
{% endfor %}
{% endif%}
{% endwith %}

<!-- Error messsage -->
{% with errors = get_flashed_messages(category_filter=['error']) %}
{% if errors %}
{% for error in errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
</div>
{% endfor %}
{% endif%}
{% endwith %}

<!-- Info message -->
{% with infos = get_flashed_messages(category_filter=['info']) %}
{% if infos %}
{% for info in infos %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ info }}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
</div>
{% endfor %}
{% endif%}
{% endwith %}