{% extends "base.html" %}
{% block content %}

<body>
    <div class="row justify-content-center">
        <h1>Feedback for the class is not found in the database.</h1>
      </div>
    <p>
        The students have not submitted any feedback for this class. Please check back later.
    </p>
    <div style="text-align: center; font-size: 15px; font-family: sans-serif;">
        <a href="{{ url_for('professor_bp.instructor')}}">Back to Class Selection</a>
    </div>
</body>
{% endblock content %}